name: quanyu_sdk
description: A Flutter SDK for integrating with native iOS.
version: 0.0.16
homepage: https://github.com/XYRZX/quanyu_flutter#readme
repository: https://github.com/XYRZX/quanyu_flutter

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: QuanyuSdkPlugin
